{% if block.settings.discount_code_invalid_txt_font contains 'Google' %}
<link href="//fonts.googleapis.com/css?family={{ block.settings.discount_code_invalid_txt_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold" rel="stylesheet" type="text/css" />
{% endif %}
{% if block.settings.discount_code_btn_font contains 'Google' %}
<link href="//fonts.googleapis.com/css?family={{ block.settings.discount_code_btn_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold" rel="stylesheet" type="text/css" />
{% endif %}
{% if block.settings.discount_code_font contains 'Google' %}
<link href="//fonts.googleapis.com/css?family={{ block.settings.discount_code_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold" rel="stylesheet" type="text/css" />
{% endif %}
  
<!-- /*   GENERAL STYLE */ -->

<style>
  .discount_code_bar {
    
    background-color: {{ block.settings.discount_code_bg_col }};
    
    padding-top: {{ block.settings.discount_code_lap_top_pad }}px!important;
    padding-bottom: {{ block.settings.discount_code_lap_bt_pad }}px!important;
    padding-left: {{ block.settings.discount_code_lap_side_pad }}px!important;
    padding-right: {{ block.settings.discount_code_lap_side_pad }}px!important;
    
    {% if block.settings.discount_code_display_on == 'Mobile_Only' %}
      display: none;
    {% endif %}
    
    {% case block.settings.discount_code_border_style %}
      {% when 'full_border' %}
      	border: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;
    
      {% when 'top_bt_border' %}
        border-top: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;
        border-bottom: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;            
    
      {% when 'top_border_only' %}
      	border-top: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;
    
      {% when 'bottom_border_only' %}
      	border-bottom: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;
    
      {% when 'side_border_only' %}
        border-left: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;
        border-right: {{ block.settings.discount_code_border_thickness }}px solid {{ block.settings.discount_code_border_col }}!important;
    
    {% endcase %}
    
    {% if block.settings.discount_code_shadow_coverage > 0 %}
    	box-shadow: 0 {{ block.settings.discount_code_shadow_coverage }}px 3px {{ block.settings.discount_code_shadow_col }}!important;
    
    	{% if block.settings.discount_code_shadow_coverage > block.settings.discount_code_margin_pd_bt_lap %}
          margin-bottom: {{ block.settings.discount_code_shadow_coverage | plus: 1 }}px!important;
    	{% endif %}
    
    {% endif %}
    
    margin-top: {{ block.settings.discount_code_margin_pd_top_lap }}px;
    margin-bottom: {{ block.settings.discount_code_margin_pd_bt_lap }}px;
    
    text-align: {{ block.settings.discount_code_msg_align }};
    
  }


</style>

<!-- /*   MOBILE STYLE */ -->

<style>
  @media only screen and (max-width: 600px) {
    .discount_code_bar{
      padding-top: {{ block.settings.discount_code_mob_top_pad }}px!important;
      padding-bottom: {{ block.settings.discount_code_mob_bt_pad }}px!important;
      padding-left: {{ block.settings.discount_code_mob_side_pad }}px!important;
      padding-right: {{ block.settings.discount_code_mob_side_pad }}px!important;
      
      {% if block.settings.discount_code_display_on == 'Desktop_Only' %}
      	display: none;
      {% endif %}
      
      margin-top: {{ block.settings.discount_code_margin_pd_top_mob }}px;
      margin-bottom: {{ block.settings.discount_code_margin_pd_bt_mob }}px;
      
      {% if block.settings.discount_code_shadow_coverage > 0 %}
    	box-shadow: 0 {{ block.settings.discount_code_shadow_coverage }}px 3px {{ block.settings.discount_code_shadow_col }}!important;
    
    	{% if block.settings.discount_code_shadow_coverage > block.settings.discount_code_margin_pd_bt_mob %}
          margin-bottom: {{ block.settings.discount_code_shadow_coverage | plus: 1 }}px!important;
    	{% endif %}
    
      {% endif %}
      
    } 
 
  }
</style>
<!-- End of mobile style -->

<!-- /*   SPECIFIC STYLE */ -->

<style>
  .discount_code_bar > p {margin: 0; display: initial; vertical-align: middle;}
  
  #coupon_code {
    width: 69%;
    border: {{ block.settings.discount_code_inputbox_border_weight }}px solid {{ block.settings.discount_code_input_box_border_col }};
    background-color: {{ block.settings.discount_code_input_box_bg_col }};
    color: {{ block.settings.discount_code_input_box_txt_col }};
    border-radius: {{ block.settings.discount_code_inputbox_border_radius }}px;
    font-family: {{ block.settings.discount_code_font | replace: 'Google_', '' | replace: '+', ' ' }};
    font-weight: {{ block.settings.discount_code_font_weight }};
    font-size: {{ block.settings.discount_code_font_laptop_size }}px;
    {% comment %} line-height: {{ block.settings.discount_code_font_laptop_size | plus: block.settings.discount_code_line_height }}px; {% endcomment %}
  }

  #coupon_code:focus {
    outline: none;
  }

  @media only screen and (max-width: 600px) {
    #coupon_code {
      font-size: {{ block.settings.discount_code_font_mob_size }}px;
      line-height: {{ block.settings.discount_code_font_mob_size | plus: block.settings.discount_code_line_height }}px;

    }
  }

  #add_coupon_code {
    outline: none;
    border: none;
    width: 28%;
    margin-left: 1%;
    background-color: {{ block.settings.discount_code_btn_col }};
    border-radius: {{ block.settings.discount_code_btn_radius }}px;
    padding: 12px 0px;
    
    background-image: url({{ "loading.gif" | asset_url }});
    background-size: 19%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -100px;
  }

  #add_coupon_code:hover {
    background-color: {{ block.settings.discount_code_btn_col_on_hover }};
  }
  #add_coupon_code>p {
    margin: 0;    
    color: {{ block.settings.discount_code_txt_col }};
    font-family: {{ block.settings.discount_code_btn_font | replace: 'Google_', '' | replace: '+', ' ' }};
    font-weight: {{ block.settings.discount_code_btn_font_weight }};
    font-size: {{ block.settings.discount_code_btn_font_laptop_size }}px;
    {% comment %} line-height: {{ block.settings.discount_code_btn_font_laptop_size | plus: block.settings.discount_code_btn_line_height }}px; {% endcomment %}
  }
  #add_coupon_code>p:hover {
    color: {{ block.settings.discount_code_txt_col_on_hover }};
  }

  @media only screen and (max-width: 600px) {
    #add_coupon_code>p {
      font-size: {{ block.settings.discount_code_btn_font_mob_size }}px;
      {% comment %} line-height: {{ block.settings.discount_code_btn_font_mob_size | plus: block.settings.discount_code_btn_line_height }}px; {% endcomment %}
    }
  }

  .invalid_dis_code>p {
    margin: 0;
    text-align: center;
    color: {{ block.settings.discount_code_invalid_txt_fcol }};
    font-family: {{ block.settings.discount_code_invalid_txt_font | replace: 'Google_', '' | replace: '+', ' ' }};
    font-weight: {{ block.settings.discount_code_invalid_txt_font_weight }};
    font-size: {{ block.settings.discount_code_invalid_txt_font_laptop_size }}px;
    {% comment %} line-height: {{ block.settings.discount_code_invalid_txt_font_laptop_size | plus: block.settings.discount_code_invalid_txt_line_height }}px; {% endcomment %}
  }

  @media only screen and (max-width: 600px) {
    .invalid_dis_code>p {
      font-size: {{ block.settings.discount_code_invalid_txt_font_mob_size }}px;
      {% comment %} line-height: {{ block.settings.discount_code_invalid_txt_font_mob_size | plus: block.settings.discount_code_invalid_txt_line_height }}px; {% endcomment %}
    }
    
  }

 </style>


<div class="discount_code_bar">
  {% assign discount_code_text_var = block.settings.discount_code_input_txt | strip_html %}
  <input type="text" id="coupon_code" placeholder="{{discount_code_text_var}}" >
  
  <button id="add_coupon_code">
    {{ block.settings.discount_code_btn_txt }}    
  </button>
  
  <div class="invalid_dis_code" style="display: none;">
    {{ block.settings.discount_code_invalid_txt }}
  </div>

    

  {% if block.settings.discount_code_stick_bt_lap == true %}  
    <input class="sticky_lap" type="text" value="stick_lap_yes">
  {% else %}
    <input class="sticky_lap" type="text" value="stick_lap_no">
  {% endif %}

  {% if block.settings.discount_code_stick_bt_mob == true %}  
    <input class="sticky_mob" type="text" value="stick_mob_yes">
  {% else %}
    <input class="sticky_mob" type="text" value="stick_mob_no">
  {% endif %}  	

</div>

