{% if block.settings.slide_cart_btn_font contains 'Google' %}
<link href="//fonts.googleapis.com/css?family={{ block.settings.slide_cart_btn_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold" rel="stylesheet" type="text/css" />
{% endif %}

<!-- /*   GENERAL STYLE */ -->

<style>
  .slide_cart_btn_bar {
    
    background-color: {{ block.settings.slide_cart_btn_bg_col }};
    
    padding-top: {{ block.settings.slide_cart_btn_lap_top_pad }}px!important;
    padding-bottom: {{ block.settings.slide_cart_btn_lap_bt_pad }}px!important;
    padding-left: {{ block.settings.slide_cart_btn_lap_sd_pad }}px!important;
    padding-right: {{ block.settings.slide_cart_btn_lap_sd_pad }}px!important;
    
    {% if block.settings.slide_cart_btn_display_on == 'Mobile_Only' %}
      display: none;
    {% endif %}
    
    {% case block.settings.slide_cart_btn_border_style %}
      {% when 'full_border' %}
      	border: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;
    
      {% when 'top_bt_border' %}
        border-top: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;
        border-bottom: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;            
    
      {% when 'top_border_only' %}
      	border-top: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;
    
      {% when 'bottom_border_only' %}
      	border-bottom: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;
    
      {% when 'side_border_only' %}
        border-left: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;
        border-right: {{ block.settings.slide_cart_btn_border_thickness }}px solid {{ block.settings.slide_cart_btn_border_col }}!important;
    
    {% endcase %}
    
    {% if block.settings.slide_cart_btn_shadow_coverage > 0 %}
    	box-shadow: 0 {{ block.settings.slide_cart_btn_shadow_coverage }}px 3px {{ block.settings.slide_cart_btn_shadow_col }}!important;
    
    	{% if block.settings.slide_cart_btn_shadow_coverage > block.settings.slide_cart_btn_margin_pd_bt_lap %}
          margin-bottom: {{ block.settings.slide_cart_btn_shadow_coverage | plus: 1 }}px!important;
    	{% endif %}
    
    {% endif %}
    
    margin-top: {{ block.settings.slide_cart_btn_margin_pd_top_lap }}px;
    margin-bottom: {{ block.settings.slide_cart_btn_margin_pd_bt_lap }}px;
    
    text-align: {{ block.settings.slide_cart_btn_msg_align }};
    
  }


</style>

<!-- /*   MOBILE STYLE */ -->

<style>
  @media only screen and (max-width: 600px) {
    .slide_cart_btn_bar{
      padding-top: {{ block.settings.slide_cart_btn_mob_top_pad }}px!important;
      padding-bottom: {{ block.settings.slide_cart_btn_mob_bt_pad }}px!important;
      padding-left: {{ block.settings.slide_cart_btn_mob_sd_pad }}px!important;
      padding-right: {{ block.settings.slide_cart_btn_mob_sd_pad }}px!important;
      
      {% if block.settings.slide_cart_btn_display_on == 'Desktop_Only' %}
      	display: none;
      {% endif %}
      
      margin-top: {{ block.settings.slide_cart_btn_margin_pd_top_mob }}px;
      margin-bottom: {{ block.settings.slide_cart_btn_margin_pd_bt_mob }}px;
      
      {% if block.settings.slide_cart_btn_shadow_coverage > 0 %}
    	box-shadow: 0 {{ block.settings.slide_cart_btn_shadow_coverage }}px 3px {{ block.settings.slide_cart_btn_shadow_col }}!important;
    
    	{% if block.settings.slide_cart_btn_shadow_coverage > block.settings.slide_cart_btn_margin_pd_bt_mob %}
          margin-bottom: {{ block.settings.slide_cart_btn_shadow_coverage | plus: 1 }}px!important;
    	{% endif %}
    
      {% endif %}
      
    } 
 
  }
</style>
<!-- End of mobile style -->



<!-- /*   SPECIFIC STYLE */ -->
<style>
  .ajax_cart_checkout_btn > p {
    margin: 0; 
    display: block; 
    vertical-align: middle;
    color: {{ block.settings.slide_cart_button_txt_fcol }};
    font-family: {{ block.settings.slide_cart_btn_font | replace: 'Google_', '' | replace: '+', ' ' }};
    font-weight: {{ block.settings.slide_cart_btn_font_weight }};
    font-size: {{ block.settings.slide_cart_btn_font_laptop_size }}px;
    line-height: {{ block.settings.slide_cart_btn_font_laptop_size | plus: block.settings.slide_cart_btn_line_height }}px;
    

  }

  @media only screen and (max-width: 600px) {
    .ajax_cart_checkout_btn > p  {
      font-size: {{ block.settings.slide_cart_btn_font_mob_size }}px;
      line-height: {{ block.settings.slide_cart_btn_font_mob_size | plus: block.settings.slide_cart_btn_line_height }}px;
    }
  }
</style>

<style>

  .ajax_cart_checkout_btn {
    display: block;
    border: none;
    outline: none;
    background-color: {{ block.settings.slide_cart_button_col }};
    color: {{ block.settings.slide_cart_button_txt_fcol }};
    padding-top: {{ block.settings.slide_cart_button_top_pad }}px;
    padding-bottom: {{ block.settings.slide_cart_button_bt_pad }}px;
    padding-left: {{ block.settings.slide_cart_button_side_pad }}px;
    padding-right: {{ block.settings.slide_cart_button_side_pad }}px;
    border-radius: {{ block.settings.slide_cart_button_radius }}px;
    box-shadow: 0 {{ block.settings.slide_cart_button_shadow_cov }}px 3px {{ block.settings.slide_cart_button_shadow_col }};
  }

  .ajax_cart_checkout_btn:hover {
    background-color: {{ block.settings.slide_cart_button_col_hover }};
    color: {{ block.settings.slide_cart_button_txt_fcol_hover }};
  }

  .ajax_cart_checkout_btn:hover>p{
    color: {{ block.settings.slide_cart_button_txt_fcol_hover }};
  }


  .ajax_cart_checkout_btn>p {
    vertical-align: middle;
  }

  .ajax_cart_checkout_btn>i {
    color: {{ block.settings.slide_cart_btn_ico_col }};
    font-size: {{ block.settings.slide_cart_btn_ico_lap_size }}px;
    vertical-align: middle;
    {% if block.settings.slide_cart_btn_ico_pos == 'Before_Button' %}
      padding-right: {{ block.settings.slide_cart_btn_ico_pd }}px;
    {% endif %}
    {% if block.settings.slide_cart_btn_ico_pos == 'After_Button' %}
      padding-left: {{ block.settings.slide_cart_btn_ico_pd }}px;
    {% endif %}
  }

  @media only screen and (max-width: 600px) {
    .ajax_cart_checkout_btn>i {
      font-size: {{ block.settings.slide_cart_btn_ico_mob_size }}px;
    }
  }
  
</style>


<div class="slide_cart_btn_bar">

	<form action="{{ routes.cart_url }}" method="post" novalidate class="cart" style="display: flex;" name="_checkout_form">
      <button type="submit" name="checkout" class="ajax_cart_checkout_btn" style="width: 100%;" onclick="if ($('#coupon_code').val() != '' && $('#coupon_code').val() != undefined) document._checkout_form.action = document._checkout_form.action + '?discount=' + $('#coupon_code').val();">

      {% if block.settings.slide_cart_btn_ico_pos == 'Before_Button' and block.settings.slide_cart_btn_ico_enable == true %}
      {{ block.settings.slide_cart_btn_ico_code }}
      {% endif %}

      {{ block.settings.slide_cart_button_input }}

      {% if block.settings.slide_cart_btn_ico_pos == 'After_Button' and block.settings.slide_cart_btn_ico_enable == true %}
      {{ block.settings.slide_cart_btn_ico_code }}
      {% endif %}

      </button>
  </form>
  	
  {% if block.settings.slide_cart_btn_stick_bt_lap == true %}  
    <input class="sticky_lap" type="text" value="stick_lap_yes">
  {% else %}
    <input class="sticky_lap" type="text" value="stick_lap_no">
  {% endif %}

  {% if block.settings.slide_cart_btn_stick_bt_mob == true %}  
    <input class="sticky_mob" type="text" value="stick_mob_yes">
  {% else %}
    <input class="sticky_mob" type="text" value="stick_mob_no">
  {% endif %}  	

</div>